NEXT_PUBLIC_SUPABASE_URL=//wemdpeegqtlymjlztrvk.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndlbWRwZWVncXRseW1qbHp0cnZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE0NzcxODgsImV4cCI6MjEwNzA1MzE4OH0.Y3-tEW-RBOoMpZiA95PmQXPlaw4xRRDgaL65-l4aFrY
